cryptography==43.0.0
fastapi==0.112.0
PyJWT==2.9.0
python-dotenv==1.0.1
redis==5.0.8
uvicorn==0.30.5
Jinja2==3.1.2
classutilities==0.2.1
SQLAlchemy==2.0.32
PyMySQL==1.1.1
alembic==1.13.2
bcrypt==4.2.0